/*
 *  -------------------------- Content --------------------------
 */
#diamonds figure {
  height: 48px;
}
#jumbo h1 {
  margin-top: 410px;
}
#logos {
  text-align: justify;
  margin: 50px auto 50px;
}
#logos:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#collections .column {
  width: 50%;
}
/*# sourceMappingURL=content.css.map */