/*
 *  -------------------------- Media queries --------------------------
 */
@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
  header.container {
    width: 100%;
  }
  header .column-two {
    text-align: right;
  }
  nav .container {
    width: 100%;
  }
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
  }
  footer .row-two .column-two {
    text-align: right;
  }
  footer .column-two {
    float: right;
  }
  .slider li {
    width: 24%;
  }
  #articles img {
    margin: 0 0;
  }
  #collections .row {
    height: 500px;
  }
  #collections .row-one .column-two {
    height: 100%;
  }
  #collections .row-two .column-one {
    height: 100%;
  }
  #you img {
    width: 25%;
  }
  .input-group-btn {
    top: 3px;
  }
}
@media (min-width: 992px) {
  #collections p {
    margin: 25px 25px 50px auto;
  }
  #collections .row-one .wrapper {
    float: right;
    width: 485px;
  }
  #collections .row-two .wrapper {
    float: right;
    width: 485px;
  }
  #articles .row-one {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .navbar-nav > li {
    margin: 0 12px;
  }
  #collections .row-one .wrapper {
    float: right;
    width: calc(470px);
    margin-right: 115px;
  }
  #collections .row-two .wrapper {
    float: right;
    width: calc(470px);
    margin-right: 115px;
  }
  .spacer {
    left: -10px;
  }
}
/*# sourceMappingURL=media_queries.css.map */