/*
 *  -------------------------- General --------------------------
 */


.btn {
    border: 1px solid #fff;
    background-color: transparent;
}

.round {
    border-radius: 50px;
    padding: 13px 40px;
}

.underline:after {
    border-bottom: 1px solid @color-text;
    width: 40%;
    margin: 25px auto;
    content: "";
    display: block;
    max-width: 140px;
}

a:hover {
    text-decoration: none;
}

.sale:before {
    content: "SALE";
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: @color-text-dark;
    top: 20px;
    left: 20px;
    line-height: 50px;
    color: #fff;
    font-size: 12px;
    
}
