/*
 *  ----------------------- Colors -----------------------
 */
 
 
/*-------------General-------------*/ 
@color-text: rgb(208, 208, 208);
@color-text-dark: rgb(131, 131, 131);
@color-border: rgb(208, 208, 208);


/*-------------Icons-------------*/ 
@color-icons: rgb(0, 105, 152);
@color-icons-text: rgb(124, 124, 124);


/*-------------Sections-------------*/ 
@color-top-bar-bg: rgb(37, 37, 37);

@color-nav-text: rgb(60, 60, 60);

@color-store-name-text: rgb(102, 102, 102);

@color-jumbo-text: rgb(205, 208, 209);

@color-collection-left-bg: rgb(0, 33, 87);
@color-collection-right-bg: rgb(0, 105, 152);
@color-collection-text: #fff;

@color-slider-price: rgb(106, 109, 117);

@color-diamonds-bg: rgb(0, 33, 87);
@color-article-heading-text: rgb(0, 33, 87);
@color-craftsmanship-bg: rgb(235, 235, 235);


/*-------------Footer-------------*/ 
@color-footer-bg: rgb(37, 37, 37);
@color-footer-icons: #fff;
@color-footer-links: rgb(105, 173, 204);
