/*
 *  -------------------------- General --------------------------
 */
.btn {
  border: 1px solid #fff;
}
.round {
  border-radius: 50%;
}
.underline {
  border: 1px solid black;
}
a:hover {
  text-decoration: none;
}
.sale:before {
  content: "";
  display: block;
  height: 50px;
  height: 5rem;
  border-radius: 50%;
}
/*# sourceMappingURL=components.css.map */