/*
 *  -------------------------- Content --------------------------
 */

#diamonds {
    background-color: @color-diamonds-bg;
    text-align: center;
    padding: 75px 0 95px 0;
    
     .column-one {
        padding-left: 0;
    }
    
    .underline:after {
        max-width: 280px;
        margin: 12px auto;
    }
    
    figcaption {
        margin: 22px auto;
    }
    
    figure {
        height: 48px;
        display: inline-block;
        margin: 20px 30px;
    }
    
    svg {
        fill: currentColor;
        height: 100%;
    }
}

#jumbo {
    
    h1 {
        margin-top: 340px;
    }
}

#logos {
    text-align: center;
    margin: 35px auto 35px;
    padding: 0;
    
    img {
        margin: 20px 1.5% 20px 1.5%;
        width: 16%;
        min-width: 160px;
        max-width: 200px;
    }
}

#products-display {
    padding: 0;
    margin: 2px auto;
}

#collections {
    padding: 0;
    
    p {
        margin: 25px auto 50px auto;
    }
    
    .row {
        //height: 500px;
        margin: 0;
    }
    
    .column {
        height: 100%;
        vertical-align: top;
        display: inline-block;
        padding: 78px 0;
    }

    .wrapper {
        padding: 0 15px;
    }
   
    .row-one {
        
        .wrapper {
            float: none;
            width: auto;
        }
        
        .column-one {
            background-color: @color-collection-left-bg;
        }
        
        .column-two {
            background-image: url("../media/images/jewelry-on-wood.jpg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
            height: 500px;
        }
    }
    
    .row-two {
        
        .wrapper {
            float: none;
            width: auto;
        }
       
        .column-two {
            background-color: @color-collection-right-bg;
        }
        
        .column-one {
            background-image: url("../media/images/red-stone.jpg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
            height: 500px;
        }
    }
}

.slider {
    
    .underline:after {
        border-bottom: 2px solid @color-text-dark;
        margin: 14px auto;
    }
    
    ul {
        display: block;
        margin: auto;
        max-width: 1170px;
    }
    
    .price {
        margin-bottom: 28px;
    }
    
    li {
        width: 100%;
        max-width: 360px;
        height: 490px;
        display: inline-block;
        border: 2px solid @color-border;
        vertical-align: top;
        position: relative;
        
        .figure {
            position: absolute;
            width: 200px;
            bottom: 0;
            left: 50%;
            margin-left: -100px;
        }
        
        img {
            margin: 0 auto 50px auto;
            display: block;
        }
        
        span, .figcaption {
            display: block;
            text-align: center;
            margin: 5px auto;
        }
    }
}


#articles {
    padding-top: 70px;
    padding-bottom: 60px;
    
    p {
    margin: 10px auto;
    }
    
    h4 {
        margin-top: 0;
    }
    
    img {
        width: 100%;
        margin: 20px 0px;
        max-width: 180px;
    }
    
    /*.row-one {
        margin-bottom: 35px;
    }*/
    
    .column-one {
        padding-left: 0;
        padding-right: 0;
    }
    
    .column-two {
        padding-left: 0;
        padding-right: 0;
    }

    
    .excerpt {
        //max-width: 385px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

#craftsmanship {
    background-color: @color-craftsmanship-bg;
    margin: 0 auto;
    
    img {
        width: 100%;
        margin: 30px auto 80px auto;
        display: block;
      }
    
      p {
        margin: 50px auto 48px auto;
      }
}

#you {
    padding-bottom: 0;
    
    img {
        padding-left: 0;
        padding-right: 0;
        width: 50%;
        
    }

    p {
        margin: 30px auto 60px auto;
    }
    
}

