/*
 *  -------------------------- Elements only --------------------------
 */

ul {
    list-style-type: none;
    padding-left: 0;
}

section {
    width: 100%;
    padding: 70px 0 50px 0;
}

i {
    padding: 0 5px;
}

footer {
    width: 100%;
    padding: 40px 0 0 0;
}


p {
    margin: 25px auto 48px auto;
    max-width: 900px;
    line-height: 22px;
    line-height: 2.2rem;
}

figcaption {
    margin: 10px auto;
}

article {
    margin-bottom: 20px;
}

