/*
 *  -------------------------- Footer --------------------------
 */


footer {
    background-color: @color-footer-bg;
    
    h3 {
        margin-bottom: 20px;
    }
    
    p {
        margin: 0 auto 25px 0;
    }
    
    i {
        height: 35px;
        width: 35px;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
        border: 1px solid #fff;
        margin-right: 10px;
        border-radius: 50%;
        
        &:before {
            position: relative;
            top: 25%;
        }
        
    }
    
    .row-one {
        margin-bottom: 5px;
    }
    
    
    .row-two {
        border-top: 1px solid @color-text-dark;
        padding: 17px 0;
        
        ul {
            margin-bottom: 0;
        }
        
        li {
            display: inline-block;
        }

        li + li:before {
            content: " | ";
        }

    }
    
    
    .links {
        
        li {
            line-height: 28px;
        }
    }
    
}
