/*
 *  -------------------------- General --------------------------
 */


 .container-main {
	max-width: 1400px;
	margin: auto;
 }
 
 .fixed {
     position: fixed;
 }
 
 .fake-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
 }
 
 .fake-table-cell {
    display: table-cell;
    float: none!important;
    height: 100%;
    vertical-align: middle;
 }

