/*
 *  -------------------------- Header --------------------------
 */

#terms {
    line-height: 35px;
    line-height: 3.5rem;
    text-align: center;
    background-color: @color-top-bar-bg;

    li {
        display: inline;
        
        a {
            margin-right: 20px;
        }
    }
    
}

header {
    ul li {
        display: inline-block;
        margin: 0 10px;
    }
    
    .row {
         padding: 0;
    }
    
    .row-one {
        border-bottom: 1px solid @color-text;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .row-two {
        padding: 0;
        
        .column-one {
            position: relative;
            top: 25px;
        }
        
        .column-three {
            margin-top: 25px;
            padding-right: 15px;
        }
    }
    
    .column {
        padding: 0;
    }

}

.navbar {
    border: none;
    margin-bottom: 0; 
}

.navbar-nav > li {
    margin: 0 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: @color-icons;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent;
}

#jumbo {
    height: 525px;
    background-image: url("../media/images/bg-header-rings.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.spacer {
    top: 15px;
    left: 0;
    position: absolute;
    
    &:before {
        content: " | ";
    }
}

.input-group-btn {
    right: 10px;
    top: 5px;
    position: absolute;
}

.form-group {
    position: relative;
}

form.visible-xs {
    width: 50%;
    margin-left: 15px;
    margin-top: 8px;
}



