/*
 *  -------------------------- Typography --------------------------
 */

html {
       font-size: 50%;  
}

body {
       font-size: 16px;
       font-size: 1.6rem;  /* =16px when html = 62.5%*/
       font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 34px;
  font-size: 3.4rem;
}

h2 {
    font-size: 28px;
    font-size: 2.8rem;  /* =28px */
}

h3 {
    font-size: 24px;
    font-size: 2.4rem;  /* =22px */
}

h4 {
    font-size: 22px;
    font-size: 2.2rem;  /* =24px */
}

header {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
   font-family: "Montserrat", sans-serif;
   text-align: center;
   margin: 0.5em 0;
}

a {
    color: @color-text-dark;

    &:hover {
        text-decoration: none;
        color: darken(@color-text-dark, 20%);
    }
}

header {
        color: @color-text-dark;
    h1{
        font-size: 40px;
        font-size: 4.0rem;
        color: @color-text-dark;
    }

    .row-one {
        font-size: 14px;
        font-size: 1.4rem;
    }
}

figcaption {
    font-size: 14px;
    font-size: 1.4rem;
}

i {
    color: @color-icons;
}

.code {
    font-size: 13px;
    font-size: 1.3rem;
}

.row-two span {
     font-size: 18px;
     font-size: 1.8rem;
     font-weight: 400;
 }

 #terms {
    font-size: 13px;
    font-size: 1.3rem;

    a:hover {
       text-decoration: none;
       color: darken(@color-text-dark, 20%);
   }
}

 #jumbo {

     h1 {
         color: @color-jumbo-text;

         span {
             color: #fff;
         }
     }
 }

 #collections .wrapper {
     color: @color-collection-text;
     text-align: left;


     h1, h3 {
        text-align: left;
     }

     a {
       color: @color-collection-text;
     }

     .underline:after {
        margin: 14px 0 14px 0;
    }
}

#diamonds {
    color: #fff;
    //overflow: auto;
}

.excerpt p {
    font-size: 15px;
    font-size: 1.5rem;  /* =15px */
}

section {
    text-align: center;
}

article {
    text-align: left;

    h4 {
        color: @color-article-heading-text;
        text-align: left;
    }

}

footer {
    color: @color-text;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;

    h3 {
        color: @color-text-dark;
        text-align: left;
        font-size: 16px;
        font-size: 1.6rem;
    }

    i {
        color: @color-footer-icons;


        &:before { 
            text-align: center;
            font-size: 16px;
            font-size: 1.6rem;
        }
    }

    .links a {
        color: @color-footer-links;

    }

    li:before {
        color: @color-text-dark;
    }

    .row-two p {
        color: @color-text-dark;
    }
}

#you {

    h1 {
        color: darken(@color-text-dark, 50%);

        i {
            color: darken(@color-text-dark, 50%);
        }
    }
}

 #craftsmanship {

    h1 {
        color: darken(@color-text-dark, 50%);
    }
 }

 .underline:after {
     color: @color-text;
 }